---
import Layout from '../layouts/Layout.astro';
---

<Layout title='404 Error page' description='The page you requested could not be found.'>
  <div class='container notfound'>
    <h1>404 Not Found</h1>
    <p>The page you requested could not be found.</p>
  </div>
</Layout>

<style>
  .container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notfound > h1 {
    font-size: var(--text-3xl);
  }

  .notfound > p {
    font-size: var(--text-sm);
  }
</style>
