---
import AboutMe from '../components/AboutMe.astro';
import Contact from '../components/Contact.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout
  title='Alexis Sanmiguel'
  description='Software fullstack developer based in Tamaulipas, Mexico. Passionate about creating user experiences and web applications'
>
  <main>
    <AboutMe />
    <Experience />
    <Projects />
    <Contact />
  </main>
</Layout>
