.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: var(--dark-secondary);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding-inline: 2rem;
  border-radius: 1rem;
  margin-top: 1rem;
  height: 2.7rem;
  transition: all 0.2s ease-in-out;
}

.active {
  color: var(--accent-color);
}

.navbar-logo {
  transition: all 0.2s ease;
  cursor: pointer;
  margin-right: 3rem;
  margin-top: 0.4rem;
  width: 10rem;
}

.navbar-logo:hover {
  opacity: 0.85;
}

.navbar-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar-link {
  font-size: var(--text-sm);
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.navbar-link:hover {
  color: var(--accent-color);
}

.navbar-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    background-color: var(--bgcolor);
    position: fixed;
    top: -1rem;
    width: 100vw;
    height: calc(100vh + 1rem);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    gap: 0;
  }

  .navbar-menu.is-open {
    opacity: 1;
    pointer-events: auto;
  }

  .no-scroll {
    overflow: hidden;
  }

  .navbar-link {
    font-size: var(--text-base);
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
  }

  .navbar-link:hover {
    color: var(--text-primary);
    background-color: var(--dark-secondary);
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
    margin-top: 0.4rem;
  }

  .navbar-toggle i {
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
  }

  .navbar-toggle i.is-active {
    transform: rotate(90deg);
  }
}
