<footer>
  <p>
    Built by <span>
      <a href='/'>
        <img src='/alexisdev-logo.svg' alt='alexisdev logo' />
      </a>
    </span> with

    <span>
      <a href='https://astro.build' target='_blank' rel='noopener noreferrer'>
        <img src='/astro-logo.svg' alt='astro logo' class='astro-logo' />
      </a>
    </span>
  </p>
  <style>
    p {
      margin-top: 4rem;
      margin-bottom: 1rem;
      text-align: center;
      color: var(--text-secondary);
      font-size: var(--text-xs);
    }

    span {
      display: inline-block;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }

    img {
      transition: all 0.2s ease-in-out;
      width: 9rem;
      vertical-align: middle;
    }

    .astro-logo {
      width: 4.5rem;
    }

    img:hover {
      opacity: 0.8;
    }
  </style>
</footer>
