---
import type { ProjectItem } from '../types/types';

export const PROJECTS: ProjectItem[] = [
  {
    title: 'Dos Print Manager',
    id: 'dosprint-manager',
    category: 'Fullstack Application',
    preview: '/projects/dosprint/preview.webp',
    images: ['/projects/dosprint/preview.webp'],
    description:
      'A comprehensive management system for Dos Print, a company dedicated to renting printers to other businesses, the software tracks all aspects of printer rentals and maintenance.',
    tags: [
      'TypeScript',
      'NodeJS',
      'Express',
      'React',
      'MySQL',
      'Redux',
      'RTK Query',
      'Chakra UI',
      'JWT',
      'Web Sockets',
      'Cron Jobs',
    ],
    mainTags: ['TypeScript', 'NodeJS', 'Express', 'React', 'MySQL'],
    longDescription: `<p>Dos Print Manager is a fullstack application designed to manage and streamline the operations of companies that rent printers to other businesses. It provides a robust and efficient system for tracking and managing various aspects of printer rentals.</p>
    <p>The application offers a centralized control system like a dashboard, enabling detailed administration of all aspects of the software. Built with a robust tech stack including TypeScript, NodeJS, Express, and React, it guarantees a seamless user experience and efficient backend operations.</p>`,
  },
  {
    title: 'Clinic Management App',
    id: 'clinic',
    category: 'Fullstack Application',
    preview: '/projects/clinic/preview.webp',
    images: ['/projects/clinic/preview.webp'],
    description:
      'This application optimizes healthcare operations while prioritizing confidentiality and efficiency.',
    tags: [
      'TypeScript',
      'NodeJS',
      'MySQL',
      'React',
      'Express',
      'Redux',
      'Prisma',
      'RTK Query',
      'Chakra UI',
      'JWT',
    ],
    mainTags: ['TypeScript', 'NodeJS', 'MySQL', 'React', 'Express'],
    longDescription: `<p>Fullstack application designed to optimize healthcare operations while prioritizing confidentiality and efficiency.</p>
    <p>With this application, users can easily manage patients, appointments, and medical records. The application also provides a dashboard with useful information and statistics.</p>
    <p>Powered by React and Redux, this app offers a nice user experience, allowing users to effortlessly navigate through the app and retrieve data.</p>
    <p>By using Prisma, the app can easily connect to the database and perform CRUD operations.</p>`,
  },
  {
    title: 'User Guide Documentation',
    id: 'guia-glt',
    category: 'Frontend Application',
    preview: '/projects/guia-glt/preview.webp',
    images: ['/projects/guia-glt/preview.webp'],
    description:
      'A user guide for the Gran Logia de Tamaulipas application, facilitating easy updates and ensuring users have the latest information.',
    tags: ['TypeScript', 'NextJS', 'Nextra', 'MDX'],
    mainTags: ['TypeScript', 'NextJS'],
    longDescription: `<p>Gran Logia de Tamaulipas User Guide is a frontend application designed to provide users with detailed information and instructions on how to use the Gran Logia de Tamaulipas application. It features seamless updates, allowing for quick documentation revisions so that users always have access to the most current guidance.</p>`,
  },
  {
    title: 'Gran Logia de Tamaulipas',
    id: 'gran-logia-tamaulipas',
    category: 'Fullstack Application',
    preview: '/projects/masoniclodge/preview.webp',
    images: ['/projects/masoniclodge/preview.webp'],
    description:
      'Web application designed for managing the Masonic lodges and their members in Tamaulipas.',
    tags: [
      'TypeScript',
      'NodeJS',
      'Express',
      'React',
      'MySQL',
      'Redux',
      'QR Code',
      'RTK Query',
      'Chakra UI',
      'JWT',
      'Web Sockets',
    ],
    mainTags: ['TypeScript', 'NodeJS', 'Express', 'React', 'MySQL'],
    longDescription: `<p>I developed a fullstack application for "Gran Logia de Tamaulipas" to streamline the management of Masonic lodges and their members in Tamaulipas, México. </p>
    <p>One of the key features is the QR code scanning functionality. Members can conveniently use their phones to scan QR codes associated with a lodge, allowing them to keep track of their attendances and maintain a digital register.</p>
    <p>The frontend, built with React, Redux, Chakra UI, and React Router, provides an intuitive interface with a responsive and user-friendly design. Administrators can easily navigate and perform CRUD operations to manage lodges and members effectively.</p>
    <p>The backend, powered by Node.js and Express, along with a MySQL database, provides the necessary API to support the frontend functionalities. It utilizes JSON Web Tokens (JWT) for secure user authentication and authorization.</p>
    <p>Due to client confidentiality, I am unable to share the source. However, I am working on a demo version.</p>`,
  },
  {
    title: 'Alexis.AI - Image Generation',
    id: 'alexisai',
    category: 'Fullstack Application',
    preview: '/projects/alexis-ai/preview.webp',
    images: [
      '/projects/alexis-ai/preview.webp',
      '/projects/alexis-ai/1.png',
      '/projects/alexis-ai/2.png',
    ],
    description: 'A tool for generate and share unique images with DALL-E.',
    tags: ['React', 'Node.js', 'Express', 'MongoDB', 'DALL-E'],
    mainTags: ['React', 'Node.js', 'Express', 'MongoDB'],
    github: 'https://github.com/alexisstdev/alexis.ai',
    live: 'https://alexis-ai.vercel.app/',
    longDescription: `<p>Fullstack MERN application, this personal project is an image generation tool that utilizes DALL-E to create unique and beautiful images. With this tool, users can easily generate and share their creations with the community.</p>
    <p>The user interface is built using React, providing a simple and intuitive experience for users.</p>
    <p>The project also incorporates MongoDB to store the data and Cloudinary to manage and optimize the images.</p>`,
  },
  {
    title: 'Weather App',
    id: 'weatherapp',
    category: 'Frontend Application',
    images: ['/projects/weatherapp/preview.webp', '/projects/weatherapp/1.png'],
    preview: '/projects/weatherapp/preview.webp',
    github: 'https://github.com/alexisstdev/weather-app',
    live: 'https://weatherst.vercel.app/',
    description:
      'Frontend application that allows users to view forecasts for various locations.',
    tags: ['React', 'Redux', 'OpenWeatherMap', 'Google Maps API'],
    mainTags: ['React', 'Redux'],
    longDescription: `<p>User-friendly and intuitive weather web application designed to provide accurate and up-to-date weather forecasts for locations around the world. With a modern interface, users can easily access weather information for their desired locations.</p>
    <p>Powered by React and Redux, this app offers a nice user experience, allowing users to effortlessly navigate through the app and retrieve weather data.</p>
    <p>By using the OpenWeatherMap and Google Maps APIs, the app fetches precise and reliable weather information, including temperature, humidity, wind speed, and conditions for each location.</p>`,
  },
  {
    category: 'Windows Application',
    title: 'Binary Search Tree Viewer',
    id: 'bst-viewer',
    preview: '/projects/bst-visualizer/preview.webp',
    images: ['/projects/bst-visualizer/preview.webp'],
    video: '/projects/bst-visualizer/1.mp4',
    github: 'https://github.com/alexisstdev/binary-search-tree-viewer',
    description: 'Binary search tree visualizer and traversal algorithms viewer',
    tags: ['C#', 'Windows Forms', 'SVG'],
    mainTags: ['C#', 'Windows Forms'],
    longDescription: `<p>This application allows users to add, remove and clear nodes from a Binary search tree in a visual way, as well as visualize different traversal algorithms. This tool can help users to better understand its behavior and operations in an intuitive way.</p>
    <p>The project was built using C# Windows Forms and SVGs to render the visual representation of the tree. </p>`,
  },
];
---
